.container {
  width: 100%;
  margin: 0 auto;

  @mixin commonStyle {
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .loading_spinner_container {
    @include commonStyle();
  }

  .pokemons_container {
    @include commonStyle();
    width: 80%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
  }
}
