.container {
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      margin: 0;
      font-size: 1.8rem;
    }

    .link {
      font-size: 1.6rem;
      color: #1677ff;
    }
  }

  .posts {
    list-style-type: none;
    padding: 0;
  }
}
