.container {
  margin-top: 2rem;
  width: 100%;

  .breadcrumbs {
    width: fit-content;
    margin: 0 auto;

    * {
      font-size: 1.6rem;
    }

    .link {
      color: #00000099;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
