.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  .pokemon_container {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30rem;
      height: 30rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
