.delete_icon {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.user_image {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 0 auto;
}

@mixin button {
  color: white;
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}
.button_section {
  display: flex;
  gap: 1rem;

  .upload_image_button {
    background-color: #12b886;
    @include button();
  }

  .delete_image_button {
    background-color: rgb(226, 100, 100);
    @include button();
  }
}

.file_input {
  width: fit-content;
  display: none;
}
